{% extends "base.html" %}

{% block content %}
    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>QR Code</h6>
                            <h2>Scan to view on your device</h2>
                        </div>
                        <p>Customers may scan the QR Code on this page to access the menu and order from the comfort of their own devices.<br>Please have a fun time at S&P Restaurant!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <img src="{{url_for('static', filename='images/qr.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->
{% endblock %}