{% extends "base.html" %}

{% block content %}
    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>S&P Restaurant</h6>
                        <h2>Your Cart</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename='images/tab-item-01.png')}}" alt="">
                                                            <h4>Crispy Fries</h4>
                                                            <p>Potato wedges deep fried to a golden crispiness.</p>
                                                            <div class="price">
                                                                <h6><input type='number' name='quantity' value=1 min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename='images/tab-item-02.png')}}" alt="">
                                                            <h4>American Hamburger</h4>
                                                            <p>American-styled patty sandwiched between ham and buns.</p>
                                                            <div class="price">
                                                                <h6><input type='number' name='quantity' value=1 min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename='images/tab-item-03.png')}}" alt="">
                                                            <h4>Chocolate Fountain</h4>
                                                            <p>Fluffy Marshmallow with dark chocolate fondue.</p>
                                                            <div class="price">
                                                                <h6><input type='number' name='quantity' value=1 min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename='images/tab-item-04.png')}}" alt="">
                                                            <h4>Strawberry Cake</h4>
                                                            <p>Soft cake with lush strawberry topping and premium cream</p>
                                                            <div class="price">
                                                                <h6><input type='number' name='quantity' value=1 min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename='images/tab-item-05.png')}}" alt="">
                                                            <h4>Rose Drink</h4>
                                                            <p>Sweet rose flavoured exclusive drink</p>
                                                            <div class="price">
                                                                <h6><input type='number' name='quantity' value=1 min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename='images/tab-item-06.png')}}" alt="">
                                                            <h4>Chicken Roast</h4>
                                                            <p>Crisp and roasted chicken with barbeque sauce</p>
                                                            <div class="price">
                                                                <h6><input type='number' name='quantity' value=1 min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>  
                                <article id='tabs-2'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename='images/tab-item-04.png')}}" alt="">
                                                            <h4>Italian spaghetti</h4>
                                                            <p>Fine spaghetti with exotic herb and mayo topping.</p>
                                                            <div class="price">
                                                                <h6><input type='number' name='quantity' value=1 min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>  
                                 <div>
                                    <a href = "/#top">
                                        <button type = "button">Continue Shopping</button>
                                    </a>
                                    <button type="button" onclick="alert('Your order has been sent to the server!')">Order Now</button>
                                
                                 </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <iframe name="no_refresh" style="display:none;"></iframe>
{% endblock %}