{% extends "base.html" %}

{% block content %}
    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>S&P Restaurant</h6>
                        <h2>Your Cart</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <form method="post" target="no_refresh">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    {% for item in cart[::2] %}
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename=item.image_url)}}" alt="">
                                                            <h4>{{item.name}}</h4>
                                                            <p>{{item.description}}</p>
                                                            <div class="price">
                                                                <h6>${{item.price}}</h6>
                                                            </div>
                                                            <div class='main-white-button'>
                                                                <h6>Qty :    <input type='number' name='{{item.id}}' value={{item.qty}} min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    {% for item in cart[1::2] %}
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{{url_for('static', filename=item.image_url)}}" alt="">
                                                            <h4>{{item.name}}</h4>
                                                            <p>{{item.description}}</p>
                                                            <div class="price">
                                                                <h6>${{item.price}}</h6>
                                                            </div>
                                                            <div class='main-white-button'>
                                                                <h6>Qty :    <input type='number' name='{{item.id}}' value={{item.qty}} min=0 max=99></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 <div>
                                    <div class="main-white-button scroll-to-section">
                                        <a href = "/#top">
                                            <button value='Save' name='cart'>Save and Continue Shopping</button>
                                        </a>
                                        <button value='Checkout' name='cart' onclick="alert('Your order has been sent to the server!')">Order Now</button>
                                     </div>
                                
                                 </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <iframe name="no_refresh" style="display:none;"></iframe>
{% endblock %}