{% extends "base.html" %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <h4>S&P Restaurant</h4>
                            <h6>THE BEST EXPERIENCE</h6>
                            <div class="main-white-button scroll-to-section">
                                <a href="/#menu">View Menu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="{{url_for('static', filename='images/slide-01.jpg')}}" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="{{url_for('static', filename='images/slide-02.jpg')}}" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="{{url_for('static', filename='images/slide-03.jpg')}}" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>We Leave A Delicious Memory For You</h2>
                        </div>
                        <p>S&P Restaurant is one of the best restaurants with thousands of people dining here every week. We provide state of the art service to our consumers with pristine and high quality food products available from a large variety of cuisines. We have been running for more than 21 years and aim to provide the best customer experience in the industry.</p>
                        <div class="row">
                            <div class="col-4">
                                <img src="{{url_for('static', filename='images/about-thumb-01.jpg')}}" alt="">
                            </div>
                            <div class="col-4">
                                <img src="{{url_for('static', filename='images/about-thumb-02.jpg')}}" alt="">
                            </div>
                            <div class="col-4">
                                <img src="{{url_for('static', filename='images/about-thumb-03.jpg')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                            <img src="{{url_for('static', filename='images/about-video-bg.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-heading">
                        <h6>Our Menu</h6>
                        <h2>Our selection of cuisine with quality taste</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-carousel">
            <div class="col-lg-12">
                <div class="owl-menu-item owl-carousel">
                    {% for item in menu %}
                    <div class="item">
                        <div class='card card1' style="background-image: url('{{url_for('static', filename=item.image_url)}}');">
                            <div class="price"><h6>${{item.price}}</h6></div>
                            <div class='info'>
                              <h1 class='title'>{{item.name}}</h1>
                              <p class='description'>{{item.description}}</p>
                              <div class="main-text-button">
                                <form method="post" target="no_refresh">
                                    <div class="main-white-button scroll-to-section">
                                        <input type='number' name='quantity' value=1 min=1 max=99 required>
                                        <button value='{{item.id}}' name='id' onclick="alert('Item Added!')">Add to cart</button>
                                     </div>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Menu Area Ends ***** -->

    <iframe name="no_refresh" style="display:none;"></iframe>
{% endblock %}